body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

/*Página Principal*/

/*Header*/
.header{
    display: flex;
}

.iconePesquisa{
   padding: 18px;
   height: 30px;
}

.quadradoPesquisar{
    margin-top: 10px;
    background-color: #212329;
    color: white;
    height: 40px;
    width: 175px;
}

/*Main*/
#centralizacaoCapas{
    padding: 20px;
}

.capasAnime{
    display: flex;
    border-style: solid;
    border-color: #d25810;
    border-width: 3px;
    width: 350px;
}

/*Footer*/
#footerPrincipal{
    position: fixed;
    top: 867px;
    left: 7px;
    background-color: #212329;
    height: 50px;
    border-radius: 15px;
}

.iconesFooter{
    padding: 10px;
    padding-right: 19px;
    height: 30px;
    width: 33px;
}

/*Página de conversa*/

#h2{
    padding-left: 2px;
}

#footerConversa{
    position: fixed;
    top: 948px;
    left: 25px;
    background-color: #212329;
    height: 50px;
    border-radius: 15px;
}

#tamanhoSeta{
    height: 22px;
    width: 22px;
    padding-left: 4px;
    margin-top: -18px;
}

#voltar{
    margin-top: 0px;
    padding-right: 4px;
    color: #d25810;
}
