body{
    background-color: black;
    color: white;
}

/*Header*/
#header{
    display: flex;
}

#iconePesquisa{
   padding: 18px;
   height: 30px;
}

#quadradoPesquisar{
    margin-top: 10px;
    background-color: #212329;
    color: white;
    height: 40px;
    width: 175px;
}