body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

/*Header*/
#header{
    display: flex;
}

#iconePesquisa{
   padding: 18px;
   height: 30px;
}

#quadradoPesquisar{
    margin-top: 10px;
    background-color: #212329;
    color: white;
    height: 40px;
    width: 175px;
}

/*Main*/
#centralizacaoCapas{
    padding: 20px;
}

.capasAnime{
    display: flex;
    border-style: solid;
    border-color: #d25810;
    border-width: 3px;
    width: 350px;
}

/*Footer*/
#footer{
    position: fixed;
    top: 867px;
    left: 7px;
    background-color: #212329;
    height: 50px;
    border-radius: 15px;
}

.iconesFooter{
    padding: 10px;
    padding-right: 19px;
    height: 30px;
    width: 33px;
}